* {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Awal Navbar */
nav {
  display: flex;
  height: 7vh;
}

nav div {
  display: flex;
  align-items: center;
  flex: 50%;
  background-color: rgb(240, 240, 240);
}

nav img {
  margin-left: 100px;
  margin-right: 50px;
}

nav .left a {
  color: black;
  margin-right: 30px;
}

nav .right {
 justify-content: end;
}

nav .right a {
  margin-right: 100px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
/* Akhir Navbar */

/* Container */
.container {
  background-color: rgb(220, 220, 220);
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Akhir container */

/* Awal home */
.personal {
  width: fit-content;
  margin: 30px 60px;
  background-color: white;
  display: flex;
  box-shadow: 0 20px 20px rgb(170, 170, 170);
  border-radius: 10px;
}

.personal .left {
 flex: 60%;
 padding: 70px;
}

.personal .text-wrapper {
  margin-bottom: 70px;
}

.personal .text-wrapper h1 {
  margin-bottom: 30px;
}

.personal .button-wrapper {
  display: flex;
  align-items: center;
}

.personal .left .contact-button {
  background-color: black;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
  margin-right: 40px;
}

.personal .left .download-cv {
  color: black;
}

.personal .left .social-media-wrapper {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.personal .right {
 flex: 40%;
 align-items: center;
 justify-content: center;
 padding: 50px;
}

.personal .right .card {
  margin: auto;
  width: 300px;
  box-shadow: 0 10px 40px rgb(210, 210, 210);
  border-radius: 10px;
  overflow: hidden;
}

.personal .right .card img {
  width: 100%;
}

.personal .right .card .card-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
/* Akhir home */

/* Awal form contact me */
.form-contact-me {
  width: 400px;
}

.form-contact-me h2 {
  text-align: center;
  margin-bottom: 50px;
}

.form-contact-me input, select, textarea {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(190, 190, 190);
}

.form-contact-me input, select {
  padding: 10px;
}

.form-contact-me textarea {
  resize: none;
}

.form-contact-me label {
  font-size: 20px;
  font-weight: 700;
}

.form-contact-me .submit {
  display: flex;
  justify-content: end;
}

.form-contact-me button {
  background-color: black;
  color: white;
  padding: 5px 30px;
  border-radius: 30px;
  cursor: pointer;
  margin-left: auto;
}
/* Akhir form contact me */